<div class="detail">

    <div ng-if="!container.edit">
        <h3>Pipeline: {{ container.Config | tagnameOnly }}</h4>
        <h4>Username: {{ container.Name }}
            <button class="btn btn-primary btn-xs" id="rename_btn"
                    ng-click="container.edit = true;">Rename
            </button>
        </h3>
    </div>
    <div ng-if="container.edit">
        <h4>
            Enter Your Name/ID:
            <input type="text" id="rename_input" ng-model="container.newContainerName">
            <button class="btn btn-success"
                    ng-click="renameContainer()">Save
            </button>
            <button class="btn btn-danger"
                    ng-click="container.edit = false;">&times;</button>
        </h4>
    </div>

    <div class="btn-group detail">
        <button class="btn btn-success"
                ng-click="start()"
                ng-show="!container.State.Running && !container.edit">Start pipeline
        </button>
        <button class="btn btn-info"
                ng-click="pause()"
                ng-show="container.State.Running && !container.State.Paused">Pause pipeline
        </button>
        <button class="btn btn-success"
                ng-click="unpause()"
                ng-show="container.State.Running && container.State.Paused">Unpause pipeline
        </button>
        <button class="btn btn-warning"
                ng-click="stop()"
                ng-show="container.State.Running && !container.State.Paused">Save/Stop pipeline
        </button>
        <button class="btn btn-danger"
                ng-click="kill()"
                ng-show="container.State.Running && !container.State.Paused">Disregard/Stop pipeline
        </button>
        <button class="btn btn-primary"
                ng-click="restart()"
                ng-show="container.State.Running && !container.State.Stopped">Restart pipeline
        </button>
    </div>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>State:</td>
            <td>
                <li>
                    <span class="label {{ container.State|getstatelabel }}">{{ container.State|getstatetext }}</span>
                </li>
            </td>
        </tr>
        <tr>
            <td>Internal Ports:</td>
            <td>
                <li ng-repeat="(k, v) in container.Config.ExposedPorts">{{ k }}</li>
            </td>
        </tr>
        <tr>
            <td>Exposed Ports:</td>
            <td>
                <li ng-repeat="(containerport, hostports) in container.HostConfig.PortBindings">
                    <span ng-repeat="(k,v) in hostports">{{ v.HostPort }}/tcp</span>
                </li>
            </td>
        </tr>
        <tr>
            <td>Galaxy Server:</td>
            <td id="galaxy_server_info">
                <li ng-repeat="(containerport, hostports) in container.HostConfig.PortBindings">
                    <h4><span class="label label-primary" ng-repeat="(k,v) in hostports"><a href="http://{{ v.HostIp }}:{{ v.HostPort }}/history/view_multiple" target="_blank" style="color: white">{{ v.HostIp }}:{{ v.HostPort }}</a></span></h4>
                </li>
            </td>
        </tr>
        <tr>
            <td>Output / Error messages:</td>
            <td>
                <li>
                    <a href="#/containers/{{ container.Id }}/logs">Output / Error messages</a>
                </li>
            </td>
        </tr>
        <tr>
            <td>System Stats:</td>
            <td>
                <li>
                    <a href="#/containers/{{ container.Id }}/stats">Stats</a>
                </li>
            </td>
        </tr>
</div>

