<div id="create-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create And Start Container From Image</h3>
            </div>
            <div class="modal-body">
                <form name="container_info" role="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Cmd:</label>
                                    <input type="text" id="input_cmd" name="cmd" ng-model="config.Cmd" class="form-control" required/>
                                    <span ng-show="container_info.cmd.$error.required" class="req_err err">
                                        Required</span>
                                    <small>Input commands as a raw string or JSON array</small>
                                </div>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" id="input_name" name="name" ng-model="config.name" class="form-control" required ng-minlength="5"/>
                                    <span ng-show="container_info.name.$error.required" class="req_err err">
                                        Required</span>
                                    <span ng-show="container_info.name.$error.minlength" id="name_min_err" class="err">
                                        Minimum 5 characters</span>
                                </div>
                                <div class="form-group">
                                    <label>Hostname:</label>
                                    <input type="text" id="input_hostname" name="hostname" ng-model="config.Hostname" class="form-control" required/>
                                    <span ng-show="container_info.hostname.$error.required" class="req_err err">
                                        Required</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>MountDatabase:</label>
                                <div ng-repeat="bind in config.HostConfig.Binds">   
                                    <div class="form-group form-inline">
                                        <input type="text" id="input_bind" name="bind" ng-model="bind.name" class="form-control" placeholder="/host:/container" required/>
                                        <span ng-show="container_info.bind.$error.required" class="req_err err">Required</span>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                ng-click="rmEntry(config.HostConfig.Binds, bind)">Remove
                                        </button>
                                    </div>
                                </div>
                                <button type="button" id="addBind_btn" class="btn btn-success btn-sm"
                                        ng-click="addEntry(config.HostConfig.Binds, {name: ''})">Add Bind
                                </button>
                            </div>
                            <div class="form-group">
                                <label>PortBindings:</label>
                                    <div ng-repeat="portBinding in config.HostConfig.PortBindings">
                                        <div class="form-group form-inline inline-portbinding">
                                            <div class="row">
                                                <div class="col-xs-4" style="padding-right:0px;">
                                                <label class="portbinding-label">Host IP:</label>
                                                <input type="text" id="input_hostIP" name="hostIP" ng-model="portBinding.ip" class="form-control" required/>
                                            <br />
                                            
                                                <span ng-show="container_info.hostIP.$error.required" class="req_err err">
                                                    Required</span>
                                                </div>
                                                <div class="col-xs-4">
                                                <label class="portbinding-label">Host Port:</label>
                                                <input type="text" id="input_hostport" name="hostPort" ng-model="portBinding.extPort" class="form-control" required/>
                                            <br />
                                            
                                                <span ng-show="container_info.hostPort.$error.required" id="req_err_hostport" class="err">
                                                    Required</span>
                                                </div>
                                                <div class="col-xs-4">
                                                <label class="portbinding-label">Container port:</label>
                                                <input type="text" id="input_containerport" name="containerPort" ng-model="portBinding.intPort" class="form-control" required/>
                                            
                                                <span ng-show="container_info.containerPort.$error.required" class="req_err err">
                                                    Required</span>
                                                </div>
                                            </div>
                                            <br />
                                            <select ng-model="portBinding.protocol">
                                                <option value="">tcp</option>
                                                <option value="udp">udp</option>
                                            </select>
                                            <button class="btn btn-danger btn-xs form-control"
                                                    ng-click="rmEntry(config.HostConfig.PortBindings, portBinding)">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                <button type="button" id="addPort_btn" class="btn btn-success btn-sm"
                                        ng-click="addEntry(config.HostConfig.PortBindings, {ip: '', extPort: '', intPort: ''})">
                                    Add Port Binding
                                </button>
                            </div>
                        </div>
                    </fieldset>                        
                </form>
            </div>
            <div class="modal-footer">            
                <a href="" class="btn btn-primary btn-lg" ng-click="preset()">Preset</a>
                <a href="" class="btn btn-success btn-lg" ng-click="create()">Create</a>
            </div>
        </div>
    </div>
</div>

