<div class="modal-header">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit()">
  <div class="modal-body">
    <label>Pipeline Name</label>
    <input type="text" id="usrinput_name" 
      data-ng-model="mydata.name"/><br/>
    <label>Broadcasting port</label>
    <input type="number" data-ng-model="mydata.port"/><br/>
    <label>Input data location</label>
    <input type="text" data-ng-model="mydata.inputPath"/>
  </div>
</form>
  <div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button type="submit" class="btn btn-primary" data-ng-click="modalOptions.ok(mydata)">{{modalOptions.actionButtonText}}</button>
  </div>
  